---
permalink: /contact/
layout: single
title: "Contact Information"
excerpt: "Contact"
author_profile: true
redirect_from: 
  - /contact_info/
  - /contact.html
---

{% include base_path %}
{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.author %}
{% endif %}

<p>
    <i class="fas fa-fw fa-envelope" aria-hidden="true"></i> {{ author.email }} <br>
    <i class="fab fa-fw fa-github" aria-hidden="true"></i> <a href="https://github.com/{{ author.github }}"> ViktorNfa</a><br>
    <i class="fas fa-fw fa-graduation-cap"></i> <a href="{{ author.googlescholar }}"> Google Scholar</a>
</p>

<h2>My office space:</h2>

<p>
    Room <b>A:625</b>, <br>
    Division of Decision and Control Systems <a href="https://www.kth.se/is/dcs/division-of-decision-and-control-systems-1.788078">(DCS),</a><br>
    School of Electrical Engineering and Computer Science <a href="https://www.kth.se/en/eecs/skolan-for-elektroteknik-och-datavetenskap-1.760855">(EECS),</a><br>
    <span style='color: #004791; font-weight: bold;'>KTH Royal Institute of Technology</span>
    <br>SE-100 44 Stockholm, Sweden
</p>

<p><img src="/images/contact_img.jpg", class=".align-center"></p>

<!-- <iframe
  width="100%"
  height="400"
  style="border:0"
  loading="lazy"
  allowfullscreen
  referrerpolicy="no-referrer-when-downgrade"
  src="https://maps.google.com/maps?width=100%25&amp;height=400&amp;hl=en&amp;q=3mE%20delft+(3me%20delft)&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
</iframe> -->
