---
layout: archive
title: "CV"
permalink: /cv/
author_profile: true
redirect_from:
  - /resume
---

{% include base_path %}

<p> Here is a summarized version of my CV. For a complete version, please check <a href="{{ base_path }}/files/CV_Victor_Nan_Fernandez_Ayala.pdf">CV updated Jan 2026.</a></p>

<h2 id="education">Education</h2>

<ul>
  <li>
    <b>PhD in Robotics and Control</b>, Division of Decision and Control Systems (DCS), EECS.
    <br><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i>KTH Royal Institute of Technology, Stockholm, Sweden.
    <br><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> <em>Sep. 2022 - Present</em>
  </li>
  <li>
    <b>MSc. in Aerospace Engineering</b>, Systems and Control track.
    <br><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i>KTH Royal Institute of Technology, Stockholm,  Sweden.
    <br><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> <em>Sep. 2020 - Jun. 2022</em>
  </li>
  <li>
    <b>BSc. in Aerospace Engineering</b>
    <br><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i>UC3M Universidad Carlos III de Madrid, Spain.
    <br><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> <em>Sep. 2016 - Jul. 2020</em>
    <ul>
      <li>
        Exchange
        <br><i class="small fa fa-fw fa-map-marker" aria-hidden="true"></i>Georgia Institute of Technology, Atlanta, USA.
        <br><i class="small fa fa-fw fa-calendar" aria-hidden="true"></i> <em>Aug. 2018 - Jul. 2019</em>
      </li>
    </ul>
  </li>
</ul>

<h2 id="experience">Experience</h2>

<ul>
  <li>
    <b>Co-Founder & CTO</b> at <a href="https://www.animum.ai/">Animum</a>.
    <br> Developed and implemented an integrated solution to stock and front shelves using off-the-shelf mobile robots, called <a href="https://fronta.ai/">Fronta</a>.
    <br><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i>Stockholm, Sweden.
    <br><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> <em>Jul. 2024 - Jul. 2025</em>
  </li>
</ul>

<ul>
  <li>
    <b>Research Engineer</b> at KTH Smart Mobility Lab (SML).
    <br> Implemented the research of the Distributed and Hybrid Systems Group under Prof. <a href="https://people.kth.se/~dimos/index.html">Dimos V. Dimarogonas</a>. 
    <br><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i>Stockholm, Sweden.
    <br><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> <em>Jan. 2022 - Sep. 2022</em>
  </li>
</ul>

<ul>
  <li>
    <b>Engineering Intern</b> at Drone Hopper.
    <br> Internship at Drone Hopper working in programming and installing autopilots and controllers in heavy lifting drones dedicated to fire-fighting, solving emergency situations and agricultural activities.
    <br><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i>Madrid, Spain.
    <br><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> <em>Sep. 2019 - Dec. 2019</em>
  </li>
</ul>

<ul>
  <li>
    <b>Engineering Intern</b> at Continental Automotive.
    <br> Internship at Continental, working in R&D in the automotive sector inside the electronics clusters part. 
    <br><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i>Timişoara, Romania.
    <br><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> <em>Jul. 2019 - Aug. 2019</em>
  </li>
</ul>

<!-- # Publications

  <ul>{% for post in site.publications %}
    {% include archive-single-cv.html %}
  {% endfor %}</ul>
  
# Talks

  <ul>{% for post in site.talks %}
    {% include archive-single-talk-cv.html %}
  {% endfor %}</ul>
  
# Teaching

  <ul>{% for post in site.teaching %}
    {% include archive-single-cv.html %}
  {% endfor %}</ul>
   -->