---
layout: archive
title: "Résumé"
permalink: /cv/
author_profile: true
redirect_from:
  - /resume
---

{% include base_path %}

<p> Here is a summarized version of my CV. For a complete version, please check <a href="{{ base_path }}/files/CV_Andreu-2023-06.pdf">CV updated June 2023</a></p>

<h2 id="education">Education</h2>

<ul>
  <li>
    <b>PhD in Robotics and Control</b>, Cognitive Robotics Department (CoR), 3mE.
    <br><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i>Technical University of Delft, Netherlands.
    <br><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> <em>Jun. 2023 - Present</em>
  </li>
  <li>
    <b>MSc. in Aerospace Engineering</b>, systems and control track.
    <br><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i>KTH Royal Institute of Technology, Stockholm,  Sweden.
    <br><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> <em>Jun. 2023 - Present</em>
  </li>
  <li>
    <b>BSc. in Aerospace Engineering</b>
    <br><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i>UPV Universitat Politècnica de València, Spain.
    <br><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> <em>Sep. 2016 - Jul. 2020</em>
    <ul>
      <li>
        Exchange and Bachelor's Thesis.
        <br><i class="small fa fa-fw fa-map-marker" aria-hidden="true"></i>University of Leeds, United Kingdom.
        <br><i class="small fa fa-fw fa-calendar" aria-hidden="true"></i> <em>Sep. 2019 - Jul. 2020</em>
      </li>
    </ul>
  </li>
</ul>

<h2 id="experience">Experience</h2>

<ul>
  <li>
    <b>Research Engineer</b> at KTH Smart Mobility Lab (SML).
    <br> Implemented the research of the Distributed and Hybrid Systems Group under Prof. <a href="https://people.kth.se/~dimos/index.html">Dimos V. Dimarogonas</a>. 
    <br><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i>Stockholm, Sweden.
    <br><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> <em>Sep. 2022 - May 2023</em>
  </li>
</ul>

<!-- # Publications

  <ul>{% for post in site.publications %}
    {% include archive-single-cv.html %}
  {% endfor %}</ul>
  
# Talks

  <ul>{% for post in site.talks %}
    {% include archive-single-talk-cv.html %}
  {% endfor %}</ul>
  
# Teaching

  <ul>{% for post in site.teaching %}
    {% include archive-single-cv.html %}
  {% endfor %}</ul>
   -->