---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<h2 id="education">Bachelor level courses</h2>

<ul>
  <li>
    <b>EL1010 HT2022 Control technology</b>, general course.
    <br><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i>KTH Royal Institute of Technology, Stockholm, Sweden.
    <br><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> <em>Oct. 2022 - Jan. 2023</em>
  </li>
  <li>
    <b>EF112X VT23 Degree project in electrical engineering</b>, basic level.
    <br><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i>KTH Royal Institute of Technology, Stockholm,  Sweden.
    <br><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> <em>Jan. 2023 - Jul. 2025</em>
  </li>
</ul>

<h2 id="experience">Master level courses</h2>

<ul>
  <li>
    <b>EL2520 Control Theory and Practice</b>, Advanced Course.
    <br><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i>Stockholm, Sweden.
    <br><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> <em>March. 2023 - Jul. 2025</em>
  </li>
</ul>

<ul>
  <li>
    <b>Master thesis in System & Control</b>, Yixiao Zhang: <a href="https://kth.diva-portal.org/smash/get/diva2:1803133/FULLTEXT01.pdf">Multi-robot coordination and planning with human-in-the-loop under STL specifications</a>.
    <br><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i>Stockholm, Sweden.
    <br><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> <em>Jan. 2023 - Jun. 2023</em>
  </li>
</ul>

<ul>
  <li>
    <b>Master thesis in System & Control</b>, Davide Peron: <a href="https://thesis.unipd.it/retrieve/40c97d65-74f0-4e20-9995-3ab7689a63bc/Peron_Davide.pdf">Multi-Robot Coordination for Precision Agriculture Under Recurring Linear Temporal Logic</a>.
    <br><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i>Stockholm, Sweden.
    <br><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> <em>Jan. 2024 - Jun. 2024</em>
  </li>
</ul>

<ul>
  <li>
    <b>Master thesis in System & Control</b>, Jorge Silva: Object Manipulation with Robust Visual Servoing under Human Supervision.
    <br><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i>Stockholm, Sweden.
    <br><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> <em>Jan. 2024 - Oct. 2024</em>
  </li>
</ul>

<!-- {% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->
