{% include base_path %}

{% if post.paperurl contains "://" %}
  {% assign paperurl = post.paperurl %}
{% else %}
  {% assign paperurl = base_path | append: "/files/" | append: post.paperurl %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

    <p itemprop="headline">
      {% if post.paperurl %}
        <a href="{{ paperurl }}" target=”_blank”> <b>{{ title }}</b></a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}

      {% if post.authors %}
        <br> {{ post.authors }}
      {% endif %}

      {% if post.venue %}
        {% if post.type == 'journal' %}
        in <i>{{ post.venue }}</i>,
        {% else %}
        <i>{{ post.venue }}</i>,
        {% endif %}
      {% endif %}

      {% if post.type == 'journal' %}
        {{ post.date | default: "1900-01-01" | date: "%B %Y" }}.
      {% else %}
        {{ post.date | default: "1900-01-01" | date: "%Y" }}.
      {% endif %}

      <br>
      <a href=" {{ post.paperurl }} " class="btn btn--inverse btn--small">PDF</a>
      <a href=" {{ base_path }}{{ post.url }} " class="btn btn--inverse btn--small">Abstract</a>

      {% if post.extra_links %}
        {% for link in post.extra_links %}

          {% if link.url contains "://" %}
            <a href="{{ link.url }}" class="btn btn--inverse btn--small">{{link.text}}</a>
          {% elsif link.url contains "#" %}
            <a href="{{ base_path }}{{ post.url }}{{link.url}}" class="btn btn--inverse btn--small">{{link.text}}</a>
          {% endif %}

        {% endfor %}
      {% endif %}

    </p>
    
    {% if post.cover_gallery %}
    <p> {% include cover_gallery %} </p>
    {% endif %}

  </article>
</div>
